        html, body {
            height: 100%;
            width: 100%;
        }
        
        .glyphicon {
            color: lightgray;
            display: block;
            text-align: right;
            cursor: move;
        }

        .wrapper {
            height: 30em;
            width: 23em;
            padding: 2em;
            padding-top: 1.5em;
            margin: 5em;
            text-align: left;
            border: 3px solid #2e3733;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: #2e3733;
        }
        
        .title{
            color: lightgray;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        .actions {
            margin: 2em 0em;
            text-align: center;
        }
        .row {
            margin-bottom: 1em;
        }
        input {
            width: 100%;
            height: 3em;
            background-color: #E3E3E3;
            border-radius: 8px;
            text-align: right;
            padding-right: 1em;
            border: 0 none;
        }
        button {
            height: 4em;
            width: 3.5em;
            padding: 0.5em;
            text-align: left;
        }